@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,700&display=swap');

*{
    box-sizing: border-box;
}

body{
  font-size: 16px;
  margin: 0;
  color: #343A40;
}



/****************************************
*****************************************
Fonts and Inputs */

p, a, h1, h2, h3, h4, h5, h6, ul, label, input, button, .logo{
  font-weight: 200;
  font-family: 'IBM Plex Mono', 'Courier new', Courier, monospace;
}

button{
  font-size: 0.750em;
}

p{
  line-height: 1.75;
  font-size: 1.063em;
}

h1, h2{
  font-weight: 700;
}

a:hover,
a:focus,
a:active{
    font-weight: bold;
}

ul{
  line-height: 1.75;
  font-weight: 700;
  list-style-type: none;
  padding: 0;
}

li a{
  font-size: 0.813em;
}

button{
    padding: 1em 1.8em;
    border-radius: 0.313em;
    background-color: buttonface;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186)
    background: rgba(239,239,239,1);
    background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 30%, rgba(216,216,216,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(30%, rgba(239,239,239,1)), color-stop(100%, rgba(216,216,216,1)));
    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 30%, rgba(216,216,216,1) 100%);
    background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 30%, rgba(216,216,216,1) 100%);
    background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 30%, rgba(216,216,216,1) 100%);
    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 30%, rgba(216,216,216,1) 100%);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    transition: box-shadow, transform, 100ms ease;
    outline: none;
    cursor: pointer;
}

button:hover,
button:focus,
button:active{
    font-weight: bold;
    transform: scale(1.025);
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
}



/****************************************
*****************************************
Notifications */


#notification{
  visibility: hidden;
  position: fixed;
  display: flex;
  padding: 1rem;
  bottom: 5em;
  left: 50%;
  margin-left: -125.492px;
  font-size: 0.813em;
  border-radius: 0.5em;
  color: #1ec15b;
  border: 1px solid #40de70;
  background-color: #afffc7;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.16);
  transition: opacity 300ms fadein;
  z-index: 3;
}

#notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 5em; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 5em; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 5em; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 5em; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

i.fas.fa-fist-raised {
    font-size: 1.9em;
}

#notification p {
  font-weight: 700;
  margin: 0 0 0 16px;
}


/****************************************
*****************************************
Navigation */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2em;
    background-color: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    z-index: 2;
}

nav .active-nav{
    font-weight: bold;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo{
    font-size: 1.438em;
    font-weight: 700;
    text-decoration: none;
    color: #333333;
    line-height: 1.85;
}

.nav-links{
    margin: 0 0 40px 0;
    display: none;
    text-align: center;
}

.nav-links li{
    margin: 40px 0;
    display: block;
}

.mobile-nav-icon{
    cursor: pointer;
    display: block;
    float: right;
}

.mobile-nav-icon:hover,
.mobile-nav-icon:focus,
.mobile-nav-icon:active{
    font-weight: bold;
}




/****************************************
*****************************************
Main & Articles */

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

    /***** Articles > Hero *****/

.hero{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  padding: 2em;
  text-align: center;
  background-image: url(/images/Blob_01.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 50em;
  background-size: 50em;
}


.hero .cta{
  max-width: 600px;
}

.hero h2{
    margin: 25px auto 0 auto;
    font-size: 24px;
}

/***** Articles > About *****/

.about ul{
  list-style-type: disc;
  padding: 0 0 0 2rem;
}

.about ul li{
  line-height: 2.5rem;
}

    /***** Articles > How to *****/

.how-to .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    display: block;
    text-align: center;
    margin-top: 25px;
    height: 350px;
    max-width: 275px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    transition: box-shadow, transform, 100ms ease;
    cursor: pointer;
}

.card:hover,
.card:focus,
.card:active{
    transform: scale(1.025);
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
}

.card p{
    font-weight: bold;
    font-size: 1.438em;
}

    /***** Articles > Campaigns *****/

.campaigns ul{
    margin-top: 50px;
}

.campaigns li{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 0 25px 0;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    transition: box-shadow, transform, 100ms ease;
    cursor: pointer;
}

.campaigns li:hover,
.campaigns li:focus,
.campaigns li:active{
    transform: scale(1.025);
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.13);
}

.campaigns ul li p{
  font-weight: 200;
}

.campaigns ul li h4{
  font-weight: 700;
}

.campaigns li a,
.campaigns li p,
.campaigns li h4{
    font-size: 0.938em;
    line-height: 0.75;
}

.campaigns li a{
    margin: 1em 0;
}

.campaigns button{
    display: block;
    margin: 50px auto 0 auto;
}



/****************************************
*****************************************
Footer */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6em 0;
  background-color: #f0f0f0;
}

footer a{
  color: #343A40;
  font-size: 2.5em;
  transition: transform 200ms ease;
}

/* footer a:last-child {
  margin-left: 1em;
} */

footer a:hover{
  transform: scale(1.1);
  font-weight: normal;
}


/****************************************
*****************************************
Clearfix */


.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


/****************************************
*****************************************
Breakpoints */

@media (min-width: 770px) {
  /****************************************
  *****************************************
  Navigation */
    nav{
        flex-flow: row;
        padding: 1em 2em;
    }
    .wrap{
        width: auto;
    }
    .nav-links{
        margin: 0;
        float: right;
        text-align: left;
        display: block;
    }
    .nav-links li{
        display: inline;
    }
    .nav-links a{
        display: inline-block;
        text-align: left;
        margin: 0 0 0 15px;
    }
    .nav-links li:nth-child(3){
        margin: 0 25px 0 0;
    }
    .mobile-nav-icon{
        display: none;
    }
    /****************************************
    *****************************************
    Content */
    .hero{
        text-align: inherit;
    }
    .hero .img{
        margin: 0 auto;
        display: block;
        height: 100%;
        width: auto;
    }
    .hero h2{
        font-size: 31px;
    }
    .campaigns li{
        flex-direction: row;
    }
    .how-to .row{
        display: block;
    }
}
