body {
  margin: 0;
  padding: 0;
}

.modal {
  width: 18rem;
  background-color: var(--main-font-color);
  color: var(--main-color);
}

.modal-content {
  padding: 1.5rem 2rem;
}

input[type=submit] {
  background-color: var(--main-color);
  color: var(--main-font-color);
  border-radius: 0.2rem;
  border: 0;
  padding: 0.2rem;
}

