.modal {
  text-align: center;
  width: 20em;
  background-color: #fff;
}

.modal-content {
  padding: 2rem;
}

.logo{
  margin-bottom: 2rem;
  font-size: 2em;
  font-weight: 700;
  line-height: 2rem;
  text-decoration: none;
  color: #333333;
  letter-spacing: -0.03em;
}

form{
  margin: 0;
}

input[type=text]{
  font-size: 0.85em;
  border-radius: 0.3em;
  background-color: #ededed;
  border: 0;
  width: 100%;
  padding: 1em;
  margin: 0 0 2em 0;
}

input[type=text]:hover,
input[type=text]:focus{
  outline: none;
}

input[type=text]::placeholder{
  color: #8e8e8e;
}
