body {
  font-family: 'IBM Plex Mono', 'Courier new', Courier, monospace;
  background-color: var(--main-font-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.content {
 text-align: center;
}

.blocked-title {
  font-size: 2rem;
  color: var(--first-complimentary-color);
}

p {
  font-size: 1rem;
}

.loaded-message {
}
